extends layout

block content
    
  h3
    a(href="/admin/loginsuccess/#{greeting}") Home

  h2 Add Album
  form(action="/admin/albums/new/#{greeting}" method="post")
    input(type="text" name="artist" placeholder="artist")
    input(type="text" name="title" placeholder="title")
    input(type="text" name="year" placeholder="year")
    input(type="text" name="genre" placeholder="genre")
    input(type="text" name="image_url" placeholder="image_url")
    input(type="text" name="rating" placeholder="rating")
    input(type="submit" value="Add Album")
