doctype html
html
  head
    title= title
    link(rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
